@model IEnumerable<CommunityMessageViewModel>

<div>
    @if (!Model.Any())
    {
        <div class="alert alert-warning text-center" role="alert">
            No messages have been found for the community
        </div>
    }
    else
    {
        @foreach (var msg in Model.OrderByDescending(x => x.CreateTimeStamp))
        {
            <div class="border-bottom border-secondary-subtle py-2">
                <p>
                    <strong>@msg.CreatorUserName</strong> <span style="color: gray;">@msg.CreateTimeStamp.ToString("yyyy-MM-dd HH:mm")</span>
                    @if (msg.LastUpdateTimeStamp != null)
                    {
                        <span class="text-secondary fst-italic ms-2" title="@msg.LastUpdateTimeStamp.Value.ToString("yyyy-MM-dd HH:mm")">
                            Edited
                        </span>
                    }
                </p>
                <p>@msg.Message</p>

                @if (User.IsInRole("Administrator"))
                {
                    <a class="btn btn-sm btn-outline-info mt-2"
                       asp-controller="Message"
                       asp-action="Edit"
                       asp-route-id="@msg.Id">
                        Change message
                    </a>
@* 
                    <a class="btn btn-sm btn-outline-danger mt-2"
                       asp-controller="Message"
                       asp-action="Delete"
                       asp-route-id="@msg.Id">
                        Delete
                    </a> *@

                    <form asp-controller="Message" asp-action="Delete" asp-route-id="@msg.Id" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-sm btn-outline-danger mt-2">
                            Delete
                        </button>
                    </form>


                }
            </div>

        }
    }
</div>
